<img style="width: 100px;height: 100px" src="{{ album.album_logo }}">


<h1>{{ album.album_title }}</h1>

<h3>{{ album.artist}}</h3>

<ul>
    {% for song in album.song_set.all %}
    <li>
            {{ song.song_title }} - {{ song.file_type }}
    </li>
    {% endfor %}
</ul>
<hr/>
{% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite'  album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
        {% load static %}
        <label for="song{{ forloop.counter }}">
        {{ song.song_title }}
        {% if song.is_favorite %}
            <img src="{% static "images/star.png" %}"/>
        {% endif %}
        </label>
        <br>
    {% endfor %}
<br>
<input type="submit" value="Favorite">
</form>